# 本地环境
**/.DS_Store
**/.local/
**/.venv/
**/.conda/
**/.task/remote/

# 构建输出
**/dist/
**/build/
**/*.vsix
**/bin/

# Local env files
**/.env
**/.env.*
**/!.env.example

# Secrets and config files
**/.secret/*
**/config/config.yaml

# node_modules
**/node_modules/
**/tsconfig.tsbuildinfo

# 临时文件
**/*.bak
**/*.log
**/*.tmp
**/*.out
**/*.temp
**/*.cache

# 临时目录
tmp/**
log/**
logs/**
temp/**
cache/**

# python
__pycache__/
**/*.pyc

# IDEs 和 编辑器
**/.claude/
